.journeys{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card{
        border: 2px solid darkblue;
        background-color: lightblue;
        width: 45%;
        padding: 2rem 0rem;
        margin: 0.5rem 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        .upper{
            display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        padding: 2rem;
        background-color: rgb(240, 169, 128);
        border: 2px solid rgb(255, 122, 122);
        border-radius: 10px;
        }
        p{
            color: white;
            font-size: 1.5rem;
        }
    }

}
